/* Universal Selector to remove default browser settings */
* {
  padding: 0rem;
  margin: 0rem;
  box-sizing: border-box;
}

/* Google Font Classes */
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* CSS Custom Properties */
:root {
  /* Primary */
  --Red: hsl(0, 100%, 74%);
  --Green: hsl(154, 59%, 51%);

  /* Accent */
  --Blue: hsl(248, 32%, 49%);

  /* Neutral */
  --Dark-Blue: hsl(249, 10%, 26%);
  --Grayish-Blue: hsl(246, 25%, 77%);
}

html {
  font-size: 16px;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

body {
  background-image: url(./assets/images/bg-intro-mobile.png);
  background-color: var(--Red);
}

.flex {
  display: flex;
  flex-direction: column;
  height: fit-content;
  margin: 6rem 2rem;
  text-align: center;
}

.content-heading {
  color: white;
  font-size: 1.5rem;
  margin-bottom: 1.2rem;
}

.content-text {
  color: color-mix(in srgb, white 80%, transparent);
  margin-bottom: 4rem;
}

.signup-offer {
  background-color: var(--Blue);
  color: var(--Grayish-Blue);
  padding: 1.4rem 2.2rem;
  margin-bottom: 1.6rem;
  line-height: 1.5;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem color-mix(in hsl, var(--Dark-Blue) 20%, transparent);
}

.trial {
  color: white;
}

.signup-form {
  background-color: white;
  padding: 1.8rem;
  border-radius: 0.5rem;
}

.input {
  width: 100%;
  color: var(--Grayish-Blue);
  margin-bottom: 1rem;
  padding: 1rem 0.8rem;
  border: 1px solid var(--Grayish-Blue);
  border-radius: 0.5rem;
}

.submit {
  background-color: var(--Green);
  color: color-mix(in srgb, white 80%, transparent);
  font-size: 0.9rem;
  text-transform: uppercase;
  border: 1px solid green;
  border-radius: 0.5rem;
}

.terms {
  color: var(--Grayish-Blue);
  font-size: 0.7rem;
}

.agreement {
  color: var(--Red);
  background-color: white;
  font-size: 0.7rem;
  border: none;
}

/* Extra small devices [iPhone SE - 375](phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {
}

/* Medium devices [iPad Mini] (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
